body {
  font-family: Arial, sans-serif;
  background-color: rgb(242, 183, 176);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.user-card {
  background-color: #e19999;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  height: 100px;
  width: 100%;
}

h1 {
  margin-bottom: 40px;
}

.user-info {
  margin-bottom: 10px;
}

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

button {
  background: #e19999;
}

input {
  flex: 1;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #131111;
  background-color: transparent;
}

.edit-icon {
  color: #007bff;
  cursor: pointer;
}
